.banner > img{
    width: 100%;
    padding-top: 50px;
}
#mobile-banner{
    display: none;
}
.welcome-text{
    height: auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
@media all and (max-width: 968px) {
    #mobile-banner{
        display: block;
    }

    #pc-banner{
        display: none;
    }

    .welcome-text{
        height: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    h1{
        font-size: 27px;
    }
}
